{% extends "layout.twig" %}

{% block content %}
    <ul>
        <li>
            <a href="{{ 'admin/posts' | url }}">Manage Posts</a>
        </li>
        <li>
            <a href="{{ 'admin/users' | url }}">Manage Users</a>
        </li>
    </ul>
{% endblock content %}