{% extends "layout.twig" %}

{% block content %}
    <h2>New Post</h2>
    <p>
        <a class="btn btn-secondary" href="{{ 'admin/posts' | url }}">Back</a>
    </p>
    {% if errors %}
        {% include "partials/errors.twig" %}
    {% endif %}
    {% if result %}
        <div class="alert alert-success">Post saved!</div>
    {% endif %}
    <form method="POST">
        <br>
        <div class="form-group">
            <input class="form-control" type="text" name="Title" id="Title" placeholder="Title">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="Author" id="Author" placeholder="Author">
        </div>
        <div class="form-group custom-file">
            <input type="file" class="custom-file-input" id="Image" required>
            <label class="custom-file-label" for="Image">Choose Image...</label>
        </div>
        <br>
        <br>
        <textarea class="form-control" name="Content" id="Content" cols="30" rows="10" placeholder="Content"></textarea>
        <br>
        <input class="btn btn-primary" type="submit" value="Save">
    </form>
{% endblock content %}