{% extends "layout.twig" %}

{% block content %}
<h2>Added Posts </h2> <br>
    <a class="btn btn-primary" href="{{ 'posts/create' }}">New Post</a><br>
    <table class="table">
        <tr>
            <th>Date</th>
            <th>Author</th>
            <th>Title</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {% for blogPost in blogPosts %}
            <tr>
                <td> {{ blogPost.created_at }}</td>
                <td> {{ blogPost.created_by }}</td>
                <td> {{ blogPost.title }}</td>
                <td>Edit</td>
                <td>Delete</td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}